@import 'styles/variables.scss';

$footer-height: 43px; // Can make this dynamic but probably overkill

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  cursor: default;
  transition: height 0.2s ease-out, max-height 0.2s ease-out, min-height 0.2s ease-out;
  color: white;
  font-size: $small;
  font-family: $font-primary;

  // Styling adjustments for when footer opens
  &.open {
    z-index: 111;

    .content {
      opacity: 1;

      .trigger {
        .chevron {
          transform: rotateX(180deg) translate3d(0, 0, 0) !important;
        }
      }

      .unfold {
        opacity: 1;
        transform: translateY(-100%);
      }
    }
  }

  .content {
    transition: all 0.2s ease-out;
    background: $footer-color;
    opacity: 0.5;

    .trigger {
      z-index: 2;
      user-select: none;
      height: $footer-height;
      bottom: 0px;
      padding: 5px 32px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: $breakpoint-1) {
        justify-content: center;
      }

      .copyright {
        margin: 8px 12px;
        margin-left: 0px;
      }

      .chevron {
        transition: transform 0.2s ease-out;
        transform: rotateX(0deg) translate3d(0, 0, 0);
      }
    }

    .unfold {
      z-index: -1;
      padding: 20px 0px;
      padding-bottom: 0px;
      opacity: 0;
      width: 100%;
      background: $footer-color;
      transition: all 0.2s ease-out;
      position: absolute;
      top: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: auto;
      justify-content: center;
      user-select: none;

      @media (max-width: $breakpoint-1) {
        height: var(--doc-height);
        top: auto;
        padding-bottom: 64px;
      }

      .scroll-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        flex-grow: 1;
        padding: 0px 32px;

        @media (max-width: $breakpoint-1) {
          display: block;
          margin: auto;
          justify-content: center;
          flex-direction: column;
        }
      }

      .direction-wrapper {
        display: flex;
        flex-basis: 50%;
        flex-shrink: 0;

        @media (max-width: $breakpoint-1) {
          flex-basis: auto;
          flex-direction: column;
        }
      }

      .meta {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint-1) {
          flex-basis: auto;
          justify-content: center;
          align-items: center;

          .logo {
            width: 145px;
            height: 49px;
          }

          .separator {
            display: none;
          }

          .links {
            align-items: center;
          }
        }

        .logo {
          margin-bottom: 12px;
        }

        .links {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @media (max-width: $breakpoint-1) {
            justify-content: center;
            flex-direction: column;
            align-items: center;
          }

          .break {
            margin-top: 8px;
            flex-basis: 100%;
            flex-shrink: 0;


            @media (max-width: $breakpoint-1) {
              display: contents;
            }
          }

          .separator {
            display: inline-block;
            position: relative;
            margin-right: 10px;
            margin-left: 10px;

            @media (max-width: $breakpoint-1) {
              display: none;
            }
          }

          .link {
            flex-shrink: 0;
            font-size: $small;
            font-weight: 400;
            color: white;

            @media (max-width: $breakpoint-1) {
              margin-top: 12px;
            }
          }
        }
      }

      .contacts {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: column;
        font-size: $medium;
        padding-left: 24px;
        padding-right: 24px;

        @media (max-width: $breakpoint-1) {
          align-items: center;

          &:after,
          &:before {
            content: '';
            margin-bottom: 18px;
            max-width: 400px;
            margin-top: 18px;
            height: 1px;
            width: 100%;
            background-color: white;
            opacity: 0.2;
          }
        }

        >* {
          margin-bottom: 16px;

          @media (max-width: $breakpoint-1) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &:last-child {
            margin-bottom: 0px;
          }

          .text {
            font-family: $font-primary;
          }

          .email {
            display: block;
            margin-top: 4px;
            color: #FFFFFF;
            font-size: $small;
          }
        }
      }

      .canary {
        flex-grow: 1;
        margin-bottom: 12px;
        display: flex;
        font-family: $font-primary;
        padding-right: 30px;

        @media (max-width: $breakpoint-1) {
          align-items: center;
          flex-direction: column;
          padding-right: 0px;
          flex-grow: 0;
          text-align: center;

          p {
            max-width: 400px;
          }

          .icon {
            margin-bottom: 12px;
          }
        }

        .icon {
          margin-right: 12px;
        }
      }
    }
  }
}

@keyframes hover {
  0% {
    transform: translateX(-50%) translateY(-3px);
  }

  50% {
    transform: translateX(-50%) translateY(3px)
  }

  100% {
    transform: translateX(-50%) translateY(-3px);
  }
}

// Scroll indicator 
.scroll-indicator {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-out;
  animation-name: hover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: -1;

  .text {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #36364C
  }

  .arrow {
    // cursor: ew-resize;
  }
}