.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;

  /* Firefox */
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.content {
  width: 100vw;
  max-height: 100vh;
  padding-left: max(20vw, 100px);
  padding-right: max(20vw, 100px);
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  margin: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
  overflow-y: clip;

  @media (max-width: 500px) {
    padding-left: max(5vw, 15px);
    padding-right: max(5vw, 15px);
  }
}