.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;

  /* Firefox */
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

$transition-time: 2s;
$transition-curve: cubic-bezier(.37, 0, .01, 1);

.content {
  width: 100vw;
  max-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  margin: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
  overflow-y: clip;
  transition: transform $transition-curve $transition-time;

  &:not(.loaded) {
    transition: none !important;
    transform: translateY(100vh) !important;
  }

  @media (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}